* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
    background: var(--color-bg);
}
.gradient__bg {    
    /* ff 3.6+ */
    background:-moz-linear-gradient( 110.4deg,  rgba(201,221,162,1) 2.5%, rgba(249,223,130,1) 37.2%, rgba(97,169,210,1) 66.4%, rgba(65,87,134,1) 97.6% );

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient( 110.4deg,  rgba(201,221,162,1) 2.5%, rgba(249,223,130,1) 37.2%, rgba(97,169,210,1) 66.4%, rgba(65,87,134,1) 97.6% );

    /* opera 11.10+ */
    background:-o-linear-gradient( 110.4deg,  rgba(201,221,162,1) 2.5%, rgba(249,223,130,1) 37.2%, rgba(97,169,210,1) 66.4%, rgba(65,87,134,1) 97.6% );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cadca2', endColorstr='#3400FF', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient( 110.4deg,  rgba(201,221,162,1) 2.5%, rgba(249,223,130,1) 37.2%, rgba(97,169,210,1) 66.4%, rgba(65,87,134,1) 97.6% );

    /* global 94%+ browsers support */
    background: linear-gradient( 110.4deg,  rgba(201,221,162,1) 2.5%, rgba(249,223,130,1) 37.2%, rgba(97,169,210,1) 66.4%, rgba(65,87,134,1) 97.6% );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.section__padding {
  padding: 2rem 4rem;
}
.section__margin {
  margin: 2rem 4rem;
}

a {
    color: unset;
    text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }