.body {
    background: var(--color-bg);
}
.gradient__bg {    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 21%, rgba(5,3,69,1) 43%, rgba(9,9,121,1) 76%, rgba(0,212,255,1) 100%);
}

a {
    color: unset;
    text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }